// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700';

body {
  font-family: 'Open Sans Condensed', sans-serif !important;
}

h1, h2, h3, h4, h5 {
  font-weight:bold !important;
}

.hide {
  display: none;
}
.core {
    height: 300px;
    width: 450px;
    // background-color: #F5F5F5;
    margin: auto;
    margin-top: 100px;
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
  }
}
    .ui-widget-content .ui-state-focus {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }

.bgheader{
  background: url('/assets/kitchen.jpg');
  background-size: cover;
}

.bgregister{
  background: url('/assets/register.png');
  background-size: cover;
}

.bgblack{
  background:rgba(0,0,0,0.35);
  color:white;
}

.bgblack a,.bgblack a:visited{
  color:white;
}

.bgsearch{
  padding-top:80px;
  padding-bottom:80px;
}

.bgresults{
  padding-top:20px;
  padding-bottom:20px;
}

.js-search-food{
  border-width: 3px !important;
}

.input-lg, .input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn{
  padding:8px 16px !important;
}

.headerlink a,.headerlink a:visited{
  color:#449d44;
}

.headerlink a:hover{
  background-color:#fff !important;
  color:#black;
}

.logo a:hover{
  background-color:#fff !important;
}

.thumbnail img {
  width:100%;
  height:230px !important;
}

.ui-menu-item {
  padding-left: 10px;
}

.ui-helper-hidden-accessible div {
  display: none;
}
